doctype html
include ./blocks/header
include ./blocks/banner
include ./blocks/features
include ./blocks/howwework
include ./blocks/cost
include ./blocks/aboutus
include ./blocks/footer

html(lang='ru')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    block title
  body
    +header({
      logo: 'Лого',
      nav: [
        ['Преимущества', 'Преимущества'],
        ['Как мы работаем', 'Какмыработаем'],
        ['FAQ', 'FAQ'],
        ['Контакты', 'Контакты']
      ],
      email: 'твояпочта@mail.com',
      phone: '8(800)-555-35-35'
    })
    main.main
      +banner({
        title: 'О нас',
        text: [
          'Наша компания занимаеться оптимизацией ндс.',
          'чтобы связаться с нами оставьте заявку, наши сотрудники свяжуться с вами'
        ],
         email: 'твояпочта@mail.com',
         phone: '8(800)-555-35-35'
      })
      +features([{
        class: 'file',
        title: 'Документы',
        text: 'Предоставление полного пакета документов. Подписываем все необходимые документы. Вы получаете оригиналы, любые необходимые документы, заключаем договор.'
      },{
        class: 'hend',
        title: 'Надежность',
        text: 'Мы нацелены на долгосрочное сотрудничество. Не берем предоплату, если вы не состоите в черном списке поставщиков.'
      },{
        class: 'libra',
        title: 'Законность',
        text: 'С клиентом заключается договор: поставки, оказания услуг.'
      },{
        class: 'headset',
        title: 'Поддержка',
        text: 'Работаем во всех часовых поясах. Решение возникающих вопросов в кратчайшие сроки, пишите в любое время и наши специалисты проконсультируют вас.'
      }])
      +howwework({
        title: 'Порядок действий',
        subtitle: 'Мы увеличиваем прибыль Вашей компании за счёт уменьшения налоговых выплат по налогу на добавленную стоимость и налогу на прибыль до 85%.',
        list: [
          {
            title: 'Обращение',
            text: 'Свяжитесь с нами через сайт или мессенджер'
          },{
            title: 'Документы',
            text: 'Высылаем вам для подтверждения выписку из книги продаж с указанием номера, даты счет-фактуры (УПД), суммы, готовим закрывающие документы'
          },{
            title: 'Отправка отчетности',
            text: 'Отправляем отчетность в ИФНС. Направляем вам подтверждение принятия отчетности (как правило до трех рабочих дней с момента отправки отчета)'
          },{
            title: 'Оплата',
            text: 'В течение трех рабочих дней с момента получения подтверждения о принятии производите оплату на расчетный счет организации'
          }]
      })
      +cost({
        title: 'Стоимость',
        subtitle: 'Мы увеличиваем прибыль Вашей компании за счёт уменьшения налоговых выплат по налогу на добавленную стоимость и налогу на прибыль до 85%.',
        table: [{
            cost: 'до 1 млн',
            value: '5'
          },{
            cost: 'до 5 млн',
            value: '3,5'
          },{
            cost: 'до 10 млн',
            value: '2,5'
          },{
            cost: 'от 10 млн',
            value: '2-1,5'
          }]
      })



