doctype html
include ./blocks/header
include ./blocks/banner
include ./blocks/features
include ./blocks/footer

html(lang='ru')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    block title
  body
    +header({
      logo: 'Лого',
      nav: [
        ['Преимущества', 'Преимущества'],
        ['Как мы работаем', 'Какмыработаем'],
        ['FAQ', 'FAQ'],
        ['Контакты', 'Контакты']
      ],
      email: 'твояпочта@mail.com',
      phone: '8(800)-555-35-35'
    })
    main.main
      +banner({
        title: 'О нас',
        text: [
          'Наша компания занимаеться оптимизацией ндс.',
          'чтобы связаться с нами оставьте заявку, наши сотрудники свяжуться с вами'
        ],
         email: 'твояпочта@mail.com',
         phone: '8(800)-555-35-35'
      })
      +features([{
        class: 'file',
        title: 'Документы',
        text: 'Предоставление полного пакета документов. Подписываем все необходимые документы. Вы получаете оригиналы, любые необходимые документы, заключаем договор.'
      },{
        class: 'hend',
        title: 'Надежность',
        text: 'Мы нацелены на долгосрочное сотрудничество. Не берем предоплату, если вы не состоите в черном списке поставщиков.'
      },{
        class: 'libra',
        title: 'Законность',
        text: 'С клиентом заключается договор: поставки, оказания услуг.'
      },{
        class: 'headset',
        title: 'Поддержка',
        text: 'Работаем во всех часовых поясах. Решение возникающих вопросов в кратчайшие сроки, пишите в любое время и наши специалисты проконсультируют вас.'
      }])

