doctype html
include ./blocks/header
include ./blocks/banner
include ./blocks/features
include ./blocks/howwework
include ./blocks/cost
include ./blocks/aboutus
include ./blocks/aboutcompany
include ./blocks/faq
include ./blocks/contacts
include ./blocks/footer
include ./blocks/preload
include ./blocks/modal

html(lang='ru')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    meta(name="x-apple-disable-message-reformatting")
    block title
  body.no-touch
    +preload
    +modal
    +header({
      logo: 'Оптимизация НДС',
      nav: [
        ['Преимущества', 'advantages'],
        ['Как мы работаем', 'howwework'],
        ['Цена', 'custom'],
        ['Контакты', 'Contacts']
      ],
      email: 'nds.optimaz@gmail.com',
      phone: '+7(968)-182-74-55'
    })
    main.main
      +banner({
        title: 'О нас',
        text: [
          'Наша компания занимается оказанием услуг по оптимизации налогов.',
          'Чтобы связаться с нами оставьте заявку, наши сотрудники свяжуться с вами в ближайшее время.'
        ],
         email: 'nds.optimaz@gmail.com',
         phone: '+7(968)-182-74-55'
      })
      +features([{
        class: 'file',
        title: 'Документы',
        text: 'Предоставим оригиналы (полный комплект), а также электронная документация о сдаче декларации.'
      },{
        class: 'hend',
        title: 'Надежность',
        text: 'Мы в полной мере предоставляем подтверждающую отчётность о принятии и вводе сведений ифнс.'
      },{
        class: 'individual',
        title: 'Индивидуальный подход',
        text: 'Мы всегда находим решение, учитывая цели и задачи каждого клиента.'
      },{
        class: 'headset',
        title: 'Поддержка',
        text: 'Вы можете обратиться к нам в любое время. Решаем возникшие вопросы в кратчайшие сроки, пишите в любое время и наши специалисты проконсультируют вас.'
      }])
      +howwework({
        title: 'Порядок действий',
        list: [
          {
            title: 'Связываетесь с нами',
            text: 'Свяжитесь с нами через сайт или мессенджер'
          },{
            title: 'Оформляете заявку',
            text: 'Высылаем вам форму заявки, которую вы заполняете и отправляете нам'
          },{
            title: 'Отправка отчетности',
            text: 'Отправляем книгу продаж в ИФНС и отправляем вам подтверждение об её отчётности'
          },{
            title: 'Оплата',
            text: 'Оплата производится после подтверждения и получения книги продаж. Далее мы отправляем вам документы'
          }]
      })
      +cost({
        title: 'Стоимость',
        subtitle: 'Мы увеличиваем прибыль Вашей компании за счёт уменьшения налоговых выплат по налогу на добавленную стоимость и налогу на прибыль до 85%.',
        sign: ['Сумма', 'до сдачи квартала', 'корректировка после сдачи квартала'],
        table: [{
            cost: 'до 1 млн',
            value: '5',
            value2: 'на 1% больше'
          },{
            cost: 'до 5 млн',
            value: '3,5',
            value2: 'на 1% больше'
          },{
            cost: 'до 10 млн',
            value: '2,5',
            value2: 'на 1% больше'
          },{
            cost: 'от 10 млн',
            value: '2-1,5',
            value2: 'на 1% больше'
          }]
      })
      +aboutus({
        title: 'Почему именно мы',
        list: [{
          text: 'Все наши компании оплачивают налоги'
        }, {
          text: 'Юридические адреса компаний не значатся по адресам массовых регистраций'
        },{
          text: 'Есть трудоустроенные сотрудники'
        }, {
          text: 'Ведётся хозяйственная деятельность фирм'
        }]
      })
      +contact({
        title: 'Связаться с нами',
        subtitle: 'Чтобы связаться с нами оставьте свой номер'
      })
    +footer({
      logo: 'Оптимизация НДС',
      email: 'nds.optimaz@gmail.com',
      phone: '+7(968)-182-74-55',
      icon: [{
        link: 'https://wa.me/79681827455?text=Здравствуйте.%20Вопрос%20по%20поводу%20Оптимизации%20НДС.',
        img: './assets/img/whatsapp.svg'
      },{
        link: 'https://teleg.run/ndsoptimaz',
        img: './assets/img/telegram.svg'
      }]
    })
    script(src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")

