mixin aboutcompany(opt)
    section.aboutcompany
        h2.aboutcompany__title= opt.title
        .aboutcompany__wrapper
            p.aboutcompany__text= opt.text
            a.aboutcompany__link Читать подробнее →
