mixin banner
    .row.prod-section
        .col-lg-6.prod-img
            img(src="assets/img/single-prod.jpg")
        .col-lg-4.prod-desc
            br
            p.wow.fadeInUp(data-wow-delay="0.5s") The way to get started is to quit talking and begin doing. Get started with our tools and boost your productivity.
            .link.wow.fadeInUp(data-wow-delay="0.5s")
                a(href="shop.html") 
                    | shop now
                    ion-icon(name="arrow-round-forward")