mixin faq(opt)
    section.faq(id='FAQ')
        -let i = 0
        h2.faq__title= opt.title
        .faq__wrapper
            ul.faq__questions
                each item in opt.question
                    -i++
                    li.faq__item
                        .faq__question
                            .faq__question-text= item[0]
                            img.faq__plus(src='./assets/img/plus.svg')
                            img.faq__minus(src='./assets/img/minus.svg')
                        .faq__answer
                            p.faq__answer-text= item[1]
                            

