mixin features(opt)
    section.features(id='advantages')
        h2.features__title Почему стоит обращаться к нам
        ul.features__list
            each item in opt
                li.featur.features__item(class=`featur_${item.class}`)
                    .featur__box-icon
                    .featur__content
                        h3.featur__title= item.title
                        p.featur__text= item.text
