mixin footer
    .container-fluid.footer
        .section.container
            footer.footer
                .row
                    .col-lg-3.block
                        p 
                            | Wordoutlet, 3581 Lunneta Street,
                            br
                            | Siesta Key, Florida. 20002,
                            br
                            | USA
                    .col-lg-3.block
                        p 
                            | FAQs
                            br
                            | Return Policy
                            br
                            | Shipping
                    .col-lg-3.block
                        p 
                            | Careers
                            br
                            | Community
                            br
                            | Wholesale
                    .col-lg-3.block
                        .media
                            ul
                                li
                                    ion-icon(name="logo-facebook")
                                li
                                    ion-icon(name="logo-instagram")
                                li
                                    ion-icon(name="logo-twitter")
                                li
                                    ion-icon(name="logo-pinterest")