mixin preload
    .loading
        ul.loading__list
            li.loading__obj
            li.loading__obj
            li.loading__obj
            li.loading__obj
            li.loading__obj
            li.loading__obj
            li.loading__obj
            li.loading__obj