mixin product-list
    section.section.prod-list
                .container-fluid
                    .row.some-cards
                        article.col-lg-3.prod.wow.fadeInUp(data-wow-delay="0.5s")
                            a(href="product.html")
                                p(id="price") USD $20.00
                                img(src="assets/img/prod-04.jpg" alt="case green")
                                p(id="prod-desc") Daily Planner 2017 in Green    
                        article.col-lg-3.prod.wow.fadeInUp(data-wow-delay="0.8s")
                            a(href="product.html")
                                p(id="price") USD $30.00
                                img(src="assets/img/prod-05.jpg" alt="case blue")
                                p(id="prod-desc") Daily Planner 2017/18 in Blue    
                        article.col-lg-3.prod.wow.fadeInUp(data-wow-delay="1.1s")
                            a(href="product.html")
                                p(id="price") USD $10.00
                                img(src="assets/img/prod-06.jpg" alt="case brown")
                                p(id="prod-desc") Daily Planner 2019 in Brown   
                        article.col-lg-3.prod.wow.fadeInUp(data-wow-delay="1.4s")
                            a(href="product.html")
                                p(id="price") USD $25.00
                                img(src="assets/img/prod-07.jpg" alt="case dark brown")
                                p(id="prod-desc") Daily Planner 2017 in Dark Brown   