.contacts {
    position: relative;
    display: flex;
    align-items: center;
    min-height: calc(100vh - 60px);
    background: url('./assets/img/window.jpg') no-repeat;
    background-size: cover;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 2;
    }

    &__title {
        font-size: 22px;
    }

    &__banner {
        margin-left: 100px;
    }

    &__wrapper {
        position: relative;

        &:after {
            position: absolute;
            top: 28px;
            right: 15px;
            font-family: 'FontAwesome';
            font-size: 16px;
            color: #969494;
        }

        &_user {
            &:after {
                content: '\f007';
            }
        }

        &_phone {
            &:after {
                content: '\f095';
            }
        }
    }

    &__label {
        color: #969494;
        &:after {
            content: '*';
            color: #CA1717;
        }
    }

    &__input {
        width: 100%;
        height: 42px;
        padding-left: 10px;
        padding-right: 40px;
        margin-bottom: 10px;
        background: #D7D7D7;
        border: none;
        border-radius: 10px;
        box-sizing: border-box;

    }

    &__button {
        position: relative;
        margin-top: 12px;
        background: transparent;
        width: 100%;
        border-radius: 10px;
    }

    &__success {
        display: none;
        text-align: center;
        font-size: 17px;
        font-weight: 700;
        color: #267f9b;
    }
}

@media screen and (max-width:476px) {
    .contacts { 
        &__banner {
            margin-left: 0;
            margin: 0 auto;
        }
    }
}