.cost {
    background: rgba(38, 127, 155, 0.2);
    padding-top: 55px;
    padding-bottom: 20px;

    &__title {
        margin: 0;
        text-align: center;
    }

    &__subtitle {
        text-align: center;
        max-width: 750px;
        margin: 0 auto;
        font-size: 18px;
    }

    &__table {
        color: #fff;
        max-width: 751px;
        padding: 0 20px;
        width: 100%;
        margin: 20px auto;
        border-collapse: collapse;
        box-shadow: 0 8px 15px rgba(0,0,0,0.5);
    }

    &__td {
        padding: 20px 10px;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        background: #a7cad4;
        display: inline-block;
        width: 150px;
        height: 80px;


        &_value {
            background: rgba(38, 127, 155, 0.7);
            width: 600px;
            word-spacing: 4px;
        }

        &_cost {
            background: #267f9b;
        }

        &_title {
            font-size: 13px;
            background: rgba(38, 127, 155, 0.7);
            font-weight: 700;
        }

        &_first {
            font-weight: 700;
            font-size: 18px;
            background: #267f9b;
        }

        &_add {
            width: 600px;
            background: rgba(38, 127, 155, 0.7);  
        }
    }
}


@media screen and (max-width: 765px) {
    .cost {
        &__table {
            max-width: 500px;
        }

        &__td {
            font-size: 16px;
            width: 100px;
            &:after {
                font-size: 12px;
            }

            &_title {
                font-size: 12px;
            }

            &_value {
                width: 400px;
            }

            &_add {
                width: 400px;
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .cost {

        &__td {
            font-size: 16px;
            width: 100px;
            &:after {
                font-size: 12px;
            }

            &_title {
                font-size: 12px;
            }

            &_value {
                width: 400px;
            }

            &_add {
                width: 400px;
                padding: 20px 1px;
            }
        }

        &_title {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 512px) {
    .cost {
        &__table {
            max-width:  400px;
        }

        &__td {
            display: table-cell;


            &_add {
                padding: 20px 1px;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .cost {
        &__table {
            max-width:  310px;
        }

        &__td {
            display: table-cell;
            font-size: 13px;

            &_add {
                font-size: 14px;
            }
        }
    }
}