.faq {
    min-height: 600px;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    background: rgba(38, 127, 155, 0.2);

    &__title {
        text-align: center;
    }

    &__questions {
        max-width: 600px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }


    &__item {
        background-color: #267f9b;
        border-radius: 0.4rem;
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: 0.5rem 2px 0.5rem rgba(0,0,0,0.1);
        cursor: pointer;

        &_active {
            .faq__minus {
                display: block;
            }

            .faq__plus {
                display: none;
            }

            .faq__answer {
                height: 120px;
            }
        }
    }

    &__question {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 15px;
        color: rgba(255,255,255,0.8);
        text-decoration: none;
        background-color: #267f9b;
        padding: 1rem 0;

        i {
            color: #e7d5ff;
            padding: .5rem;
        }
    }
    
    &__minus {
        display: none;
    }

    &__answer {
        height: 0;
        overflow: hidden;
        font-size: 14px;
        position: relative;
        background-color: #fff;
        transition: 1s;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 0.6rem;
            height: 90%;
            transform: translateY(-50%);
            background-color: #8fc460;
            color: rgba(255,255,255,0.6)
        }

        &-text {
            font-size: 16px;
            color: #000;
            padding: 2rem;
        }
    }
}