@import 'assets/style_utils/vars';
@import 'assets/style_utils/normalize';
@import 'assets/style_utils/libs';
@import 'assets/fonts/font.scss';

*,*::before,*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;
    min-width: 320px;
    height: 100%;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}

.conteiner {
    padding: 0 20px;
}

h1 {
    font-size: 53px;
    margin: 0;
}

h2 {
    font-size: 32px;
    letter-spacing: 1px;
}

@media screen and (max-width: 840px) {
    h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 350px) {
    h1 {
        font-size: 32px;
    }
}

@import 'assets/blocks/header.scss';
@import 'assets/blocks/banner.scss';
@import 'assets/blocks/features.scss';
@import 'assets/blocks/howwework.scss';
@import 'assets/blocks/cost.scss';
