@import 'assets/style_utils/vars';
@import 'assets/style_utils/normalize';
@import 'assets/style_utils/libs';
@import 'assets/fonts/font.scss';

*,*::before,*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;
    min-width: 320px;
    height: 100%;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}



.footer {
    width: 100%;
}

.conteiner {
    padding: 0 20px;
}

h1 {
    font-size: 53px;
    margin: 0;
}

h2 {
    font-size: 32px;
    letter-spacing: 1px;
}

html{
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width: 16px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #267f9b;
    }
}

@media screen and (max-width: 840px) {
    h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 350px) {
    .logo {
        font-size: 16px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    .main {
        width:100vw;
    }

    section {
        width: 100vw;
    }
}

@import 'assets/blocks/header.scss';
@import 'assets/blocks/banner.scss';
@import 'assets/blocks/features.scss';
@import 'assets/blocks/howwework.scss';
@import 'assets/blocks/cost.scss';
@import 'assets/blocks/aboutus.scss';
@import 'assets/blocks/faq.scss';
@import 'assets/blocks/contacts.scss';
@import 'assets/blocks/footer.scss';
@import 'assets/blocks/preload.scss';
@import 'assets/blocks/modal.scss';
@import 'assets/blocks/aboutcompany.scss';